name: CI

on:
  push:
    branches: [ dev, main ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-22.04

    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image with cache
        uses: docker/build-push-action@v6
        with:
          context: .
          tags: atmosphere-model:latest
          load: true            # load the image into the local Docker daemon
          push: false           # we're not pushing to a registry
          cache-from: type=gha  # use GitHub Actions cache as buildx cache backend
          cache-to: type=gha,mode=max

      - name: Run tests in Docker container
        run: |
          docker run --rm \
            -v "${{ github.workspace }}/code/serial:/app" \
            atmosphere-model:latest \
            make test
